[Unit]
Description=Openslides Instance

[Service]
# Environment="PYTHONPATH=/home/ab/git/OpenSlides:{{ openslides_instance_path }}"
# ExecStart=/home/ab/.virtualenvs/os/bin/python /home/ab/git/OpenSlides/manage.py runserver localhost:{{ openslides_instance_port_base + item|int }}
ExecStart={{ openslides_rkt_base }} /usr/local/bin/daphne -- openslides.asgi:channel_layer -p {{ 8000 + item|int}} -b 0.0.0.0
NonBlocking=true
# User=openslides

[Install]
WantedBy=multi-user.target
