[Unit]
Requires={{ openslides_instance_service_name }}_{{ item }}.service
After={{ openslides_instance_service_name }}_{{ item }}.service

[Service]
ExecStart=/lib/systemd/systemd-socket-proxyd 127.0.0.1:{{ openslides_instance_port_base + item|int }}
# PrivateTmp=yes
# PrivateNetwork=yes
