[Unit]
Description=Openslides Instance
Wants=network.target
Requires={{ openslides_instance_service_name }}_1.service

[Service]
ExecStart=/usr/bin/rkt run --insecure-options=image --port=6379-tcp:{{ openslides_instance_port_base }} docker://sameersbn/redis
NonBlocking=true
Restart=always
